// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

.nunito-sans-coolfont {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
}

main, section, .post-form, .signup-form, .signup-title, .signup-error, .post-error {
  max-width: 80%;
  margin-inline: auto;
}

.icon {
  width: 100px;
}

.website-title {
  margin: 0;
}

.post {
  overflow: hidden;
}

.second-row {
  display: flex;
  gap: 15px;
  margin-bottom: 2em;
}
.second-row p {
  margin: 0;
}

.date {
  color: grey;
}

.comments {
  margin: 0;
}

.posts, .comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.comment-input {
  flex-grow: 4;
}

.comment-form {
  display: flex;
  gap: 10px;
}

.unpublished-text {
  color: red;
  text-align: center;
  margin-top: 0;
}

.edit-icon,
.trash-icon {
  width: 35px;
}

.edit-button,
.trash-button {
  padding: 0;
  height: 39px;
}

.post-buttons {
  display: flex;
  gap: 5px;
}


.first-row {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

h1, h2, h3 {
  margin-top: 0;
}

.navbar {
  list-style-type:none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.navbar a, 
header a {
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  color: #007BFF;
}

.logo {
  text-align: center;
  margin: 0;
  font-weight: 900;
  font-size: 2em;
  display: flex;
  align-items: center;
}

.main-header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
}

.login-button,
.submit-button {
  background: none;
  color: white;
  background-color: #007BFF;
  border: solid;
  border-radius: 20px;
  padding: 5px 20px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.login-button:hover, .submit-button:hover {
  background-color: #469fff;
}

.login-error {
  grid-column: span 2;
  color: red;
  width: 245.47px;
  margin: 0;
}

.invisible-div {
  width: 82.7px;
}

.close-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.login-form {
  border: none;
  border-radius: 15px;
}

.login-form header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-form h1 {
  margin: 0;
  font-size: 1.5em;
}

.login-form form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  margin-top: 15px;
}

.submit-button {
  grid-column: span 2;
}

.navbar-line {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #333 inset;
}

.post-form, .signup-form {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 15px;
}

.post-form .submit-button,
.signup-form .submit-button {
  width: fit-content;
  margin:auto;
}

.signup-title, .posts-title, .post-form-title {
  text-align: center;
  color: black;
}

.signup-error, .post-error {
  color: red;
}

.post-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.unpublished, .unpublished a {
  color: grey;
}








