.post, .comment {
  border-radius: 10px;
  border: solid;
  padding: 1rem;
}

.post {
  overflow: hidden;
}

.posts, .comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.comment-input {
  flex-grow: 4;
}

.comment-form {
  display: flex;
  gap: 10px;
}

#root {
  margin: auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.unpublished-text {
  color: red;
}